{% extends 'base.html' %}

{% block head %}
<title>Burk Readings - Home</title>
{% endblock %}

{% block body %}
<div class="container" id="header" style="margin-top: 12em;">
    {% if current_user.is_authenticated %}
        <h1>Welcome {{ current_user.first_name }} {{ current_user.last_name }}</h1>
        <p>Not you? Login <a href="/login">here</a></p>
    {% else %}
        <h1 style="text-decoration: underline;">Burk Readings</h1>
        <h1 style="margin-top:10px;">Homepage</h1>
        <p style="margin-top:10px;">Please login to submit readings</p>
    {% endif %}
</div>
{% endblock %}