{% extends "base.html" %}

{% block head %}
<title>Burk Meter Readings</title>
{% endblock %}

{% block body %}
<div id="header">
    <h1>NYPR Meter Readings</h1>
    {# Adds post to database success/fail message on form submit #}
    {% if get_flashed_messages() %}
    <div class="flash-message">
    {% for message in get_flashed_messages() %}
        <p class="font-weight:bolder;">{{message}}</p>
    {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container">
    <form action="/home" method="POST">
        <section class="readings">
            {# Create a table for each site in config #}
            {% for site in sites %}
            {% set channels = site.channels %}
            <table>
            <thead>
            <tr class="site_heading">
                {# Header provides site name, link to database readings, and a link to retry the Burk API form load #}
                <th colspan="12" style="background-color: #ddd; color: black;">
                    <p>{{ site.display_name }} -
                        <a href="site/{{site.id}}/readings" id="{{site.site_name}}_view_readings">view readings</a>
                    </p>
                    <span style="float:right;" onclick="refresh_site('{{site.id}}', '{{site.display_name}}')">
                        <img src="{{url_for('static', filename='img/refresh.png')}}" id="{{site.site_name}}_refresh"/>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            {# Create row with channel header for each channel in config #}
            <tr class="table_headings">
            {% for channel in channels %}
                <th>{{ channel.title }}</th>
            {% endfor %}
                <th>Approve</th>
            </tr>

            {# Creates inputs associated with headers #}
            <tr class="table_data">
                {% for channel in channels %}
                {% set id = 'C' + channel.id|string %}
                  {% if channel.chan_type == 'meter' %}
                  <td class="meter" id="{{id}}_cell" style="">
                    {# Step allows floats, onchange func checks input against meter limits, adds message: manually changed #}
                    <input type="number" step="any" id="{{id}}" name="{{id}}" value=""
                           onchange="manually_changed('{{id}}')" required>
                    <br>
                    <label id="{{channel.title}}_label">{{channel.meter_config[0].units}}</label>
                  </td>
                  {% elif channel.chan_type == 'status' %}
                  <td class="status" id="{{id}}_cell">
                    <div class="radio_group">
                    {% for option in channel.status_options %}
                        <label>
                        <input type="radio" id="{{id}}*{{loop.index}}" name="{{id}}"
                           onchange="manually_changed('{{id}}')" value="{{option.selected_value}}" required>
                        {{option.selected_value}}
                    </label>
                    {% endfor %}
                    </div>
                  </td>
                  {% endif %}
                {% endfor %}
                {# Added regardless of config, val not actually passed to results, but required for submission #}
                <td id="{{site.site_name}}_approved_cell">
                    <input type="checkbox" id="{{site.site_name}}_approved" onchange="approval_background('{{site.site_name}}_approved')"
                           required style="width:35px;height:35px;">
                </td>
            </tr>
            </table>
            </tbody>
            {% endfor %}
            {# All sites from config have been added this section is standard #}
            <table id="eas_table" >
                <tr>
                    <th>EAS TEST</th>
                </tr>
                <tr>
                    <td>
                        <p style="padding-bottom:10px;">Was there an EAS received during the last readings' cycle?</p>
                        <div style="padding-bottom:10px;" class="radio_group">
                            <label>
                            <input type="radio" id="eas_yes" name="eas_verification" value="YES" required>
                                Yes
                            </label>
                            <label>
                            <input type="radio" id="eas_no" name="eas_verification" value="NO" required>
                                No
                            </label>
                        </div>
                        <div id="eas_alert_received"></div>
                    </td>
                </tr>
            </table>
            <table id="notes_table" >
                <tr>
                    <th>Messages</th>
                    <th>User Notes</th>
                </tr>
                <tr>
                    {# Readonly messages added by Javascript functions #}
                    <td>
                        <textarea id="messages" name="messages" rows="4" readonly></textarea>
                    </td>
                    {# For User input of shift notes #}
                    <td>
                        <textarea id="notes" name="notes" rows="4"></textarea>
                    </td>
                </tr>
            </table>
        </section>

        {# Sign off saying that the user has double-checked these readings and believes them to be correct #}
        <section class="readings" id="operator">
            <table>
                <tr>
                    <th style="padding-right: 35px; letter-spacing: 9px;">Master Control Sign Off</th>
                </tr>
                <tr>
                    <td>
                        <p>I, the undersigned, do hereby verify these readings
                            to be correct to the best of my knowledge.... blah blah legal nonsense blah</p>
                        {# Adds blank user and makes field required #}
                        <select id="mceod" name="mceod" style="margin-bottom:10px;" required>
                            <option value=""></option>
                        {# Reads users from config and adds each to the dropdown #}
                        {% for op in operators %}
                            <option value="{{op.id}}"
                                    {%if op.id == current_user.id %} selected {% endif %}>
                                {{op.name}}
                            </option>
                        {% endfor %}
                        </select>
                    </td>
                {# Submit button makes post request to route which uses form data to post to sqlite database #}
                <tr>
                    <td style="padding:0px;">
                        <button type="submit" value='submit'
                                style="padding-right: 30px; letter-spacing:3px;">SUBMIT</button>
                    </td>
                </tr>
            </table>
        </section>
    </form>
</div>
{# Imports functions to load Burk data into form inputs #}
<script src="{{ url_for('static', filename='javascript/reading_form_autopopulate.js') }}"></script>
{# When page loads or reloads clear data and attempt to load API data to associated inputs #}
<script>
    // When the page loads, update form
    window.onload = function() {
        reset_page()
        load_data_to_form()
    }
</script>
<script>
    // Get document elements
    const eas_verification = document.querySelectorAll('input[name="eas_verification"]');

    // Listens for change of eas_verification radio button
    // Adds HTML if EAS Test was received
    verify_eas(eas_verification)
</script>
<!--    const eas_form = document.querySelector('#eas_alert_received');-->

{% endblock %}
