{% extends 'base.html' %}

{% block head %}
<title>Add Site Page</title>
{% endblock %}

{% block body %}
<div class="container" id="header">
    <h1>Add Site</h1>
<!--Adds post to database success/fail message on form submit-->
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{message}}</p>
    {% endfor %}
</div>

<div class="container submit">
  <form action="#" id="box" method="POST">
    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="site_name">Site Name: </label>
        </dt>
        <dt class="site_form">
            <input type="text" id="site_name" name="site_name" placeholder="WXYZ"
                   onchange="check_site_name_in_db()" value="" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="ip">IP: </label>
        </dt>
        <dt class="site_form">
            <input style="" type="text" id="ip" name="ip" placeholder="192.168.1.1" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="api_key">API KEY: </label>
        </dt>
        <dt class="site_form">
            <input style="" type="password" id="api_key" name="api_key" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
        <dl>
            <dt class="">
                <label class="config_header">Site Type: </label>
            </dt>
            <dt class="" style="margin-top: 2px;">
                <div class="radio_group">
                    <label>
                        <input type="radio" name="site_type" value="fm" required>
                        FM
                    </label>
                    <label>
                        <input type="radio" name="site_type" value="am">
                        AM
                    </label>
                </div>
            </dt>
        </dl>
    </fieldset>

    <div id="channels_form">
<!--    HTML added by JS depending on value of Site Type -->
    </div>

    <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">SUBMIT</button>
  </form>

</div>
<script src="{{ url_for('static', filename='javascript/add_channel_html.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/duplicate_verification.js') }}"></script>
<script>
    insert_html_on_type_change()
</script>
{% endblock %}