{% extends 'base.html' %}

{% block head %}
<title>Add Site Page</title>
{% endblock %}

{% block body %}
<div class="container" id="header">
    <h1>Add Site</h1>
<!--Adds post to database success/fail message on form submit-->
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{message}}</p>
    {% endfor %}
</div>


<div class="container config_form">
  <form action="#" class="" method="POST">
      <input style="display: none;" type="int" name="channel_count" id="channel_count" value="0">
    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="site_name">Site Name: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="site_name" name="site_name" placeholder="WXYZ" value="" required>
        </dt>
            <div class="error-message" id="site_name_errors"></div>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="ip_addr">IP: </label>
        </dt>
        <dt class="config_field">
            <input style="" type="text" id="ip_addr" name="ip_addr" placeholder="192.168.1.1" required>
        </dt>
          <div class="error-message" id="ip_addr_errors"></div>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="">
            <label class="config_header" for="api_key">API KEY: </label>
        </dt>
        <dt class="config_field">
            <input style="" type="password" id="api_key" name="api_key" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
        <dl>
            <dt>
                <div id="add_channel">
                    <button class="func_button" onclick="add_channel_selector_html(); return false;">Add Channel</button>
<!--                Button replaced with channel type selector and submit    -->
                </div>
            </dt>
        </dl>
    </fieldset>

    <div id="channels">
<!--    Channel HTML added here each time Add Channel button finishes submission -->
    </div>


    <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">ADD SITE</button>
  </form>

</div>
<script src="{{ url_for('static', filename='javascript/add_channel_html.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/site_form_verification.js') }}"></script>
<script>
    window.onload = function() {
        channel_count.value = 0;
    }
</script>

{% endblock %}