{% extends 'base.html' %}

{% block head %}
<title>Add User Page</title>
{% endblock %}

{% block body %}
<div class="container" id="header">
    <h1>Add User</h1>
<!--Adds post to database success/fail message on form submit-->
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{message}}</p>
    {% endfor %}
</div>

<div class="container config_form">
  <form action="#" id="box" method="POST">
    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="first_name">First Name: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="first_name" name="first_name" placeholder="Bilbo" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="last_name">Last Name: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="last_name" name="last_name" placeholder="Baggins">
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="username">Username: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="username" name="username" placeholder="bbaggins" required>
        </dt>
      </dl>
      <div class="error-message" id="username-error-message">
      {% if error_messages %}
        {% for message in error_messages %}
            {{ message }}</br>
        {% endfor %}
      {% endif %}
      </div>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="password">Password: </label>
        </dt>
        <dt class="config_field">
            <input type="password" id="password" name="password" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="privilege">Privilege: </label>
        </dt>
        <dt class="config_field">
            <select id="privilege" name="privilege">
                <option value=""></option>
                <option value="1">Operator</option>
                <option value="2">Admin</option>
                <option value="3">Operator with Admin access</option>
            </select>
        </dt>
      </dl>
    </fieldset>

    <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">SUBMIT</button>
  </form>
</div>
<script src="{{ url_for('static', filename='javascript/signup_form_validation.js') }}"></script>

{% endblock %}