{% extends 'base.html' %}

{% block head %}
<title>Delete User Page</title>
{% endblock %}

{% block body %}
<div class="container" id="header">
    <h1>Delete User</h1>
<!--Adds post to database success/fail message on form submit-->
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{message}}</p>
    {% endfor %}
</div>


<div class="container config_form">
  <form action="#" id="box" method="POST" style="margin-top: 10px;">
      <fieldset>
          <dl class="container config_header">
                <dt style="padding:25px;">{{ user.name.replace('*', ' ') }}</dt>
          </dl>
      </fieldset>

    <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">SUBMIT</button>
  </form>
</div>

{% endblock %}