{% extends 'base.html' %}

{% block head %}
<title>Update Channels - {{ site.site_name.replace('_', ' ') }}</title>
<script>
// on color select, change background color to match selection
function change_bg_color(id, color) {
    color_selector = document.getElementById(id)
    if (!color) {
        color = color_selector.value
    }
    color_selector.style.backgroundColor = color
}
</script>
{% endblock %}

{% import 'macros/existing_meter_channel.html' as meter_macro %}
{% import 'macros/existing_status_channel.html' as status_macro %}

{% block body %}
<div class="container" id="header">
    <h1>Update Channels</h1>
    <h2 style="margin-top:10px">{{ site.site_name.replace('_', ' ') }}</h2>
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{ message }}</p>
    {% endfor %}
</div>

<div class="container config_form">
    <form action="#" id="box" method="POST">
        {% for channel in site.channels %}
        {% set channel_order = (channel.channel_order + 1)|string %}
        {% set id = "existing_" ~ channel.id %}
        <fieldset id="{{channel.id}}">
          <dl>
            <div class="channel_header">
                <label id="{{channel_order}}" style="float:left; margin:0;">{{channel_order}}.</label>
                <label id='{{id}}_header'>{{channel.title}}</label>
                <img class="hide_content_button" id="{{id}}_hide_content"
                onclick="maximize_channel_data('{{id}}'); return false;" src='/static/img/plus_sign.png' alt='+'>
                <input type="hidden" id="{{id}}_chan_type" name="{{id}}_chan_type" value="{{channel.chan_type}}">
            </div>
        {% if channel.chan_type == 'meter' %}
              {{ meter_macro.existing_meter_channel(id, channel, colors, units) }}
        {% elif channel.chan_type == 'status' %}
              {{ status_macro.existing_status_channel(id, channel, colors) }}
        {% endif %}
            </dl>
        </fieldset>
        {% endfor %}

         <fieldset>
            <input type="hidden" name="channel_count" id="channel_count" value="{{site.channels|length}}">
            <dl>
                <dt>
                    <div id="add_channel">
                        <button class="func_button" onclick="add_channel_selector_html(); return false;">Add Channel</button>
<!--                Button replaced with channel type selector and submit    -->
                    </div>
                </dt>
            </dl>
        </fieldset>

        <div id="channels">
<!--    Channel HTML added here each time Add Channel button finishes submission -->
        </div>


        <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">SUBMIT</button>
    </form>
</div>
<script src="{{ url_for('static', filename='javascript/add_channel_html.js') }}"></script>
<script>
    window.onload = function () {
        channel_count.value = {{site.channels|length}}
    }
</script>
{% endblock %}