{% extends 'base.html' %}

{% block head %}
<title>Update User - {{user.username.replace('*', ' ')}}</title>
{% endblock %}

{% block body %}
<div class="container" id="header">
    <h1>Update User</h1>
<!--Adds post to database success/fail message on form submit-->
    {% for message in get_flashed_messages() %}
        <br><p style="font-weight:bolder;">{{message}}</p>
    {% endfor %}
    <span style="display:flex; justify-content: center; padding-top: 22px;">
        <button onclick="delete_user()">Delete User</button>
    </span>
</div>

<div class="container config_form">
  <form action="#" id="box" method="POST">
    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="first_name">First Name: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="last_name">Last Name: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="last_name" name="last_name" value="{{user.last_name}}">
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="username">Username: </label>
        </dt>
        <dt class="config_field">
            <input type="text" id="username" name="username" value="{{user.username}}" required>
            <div class="error-message" id="username-error-message"></div>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="password">Password: </label>
        </dt>
        <dt class="config_field">
            <input style="text-align:center;" type="password" id="password" name="password" required>
        </dt>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt class="config_label">
            <label for="privilege">Privilege: </label>
        </dt>
        <dt class="config_field">
            <select id="privilege" name="privilege">
                <option value=""></option>
                <option value="1"
                {% if user.is_operator and not user.is_admin %} selected {% endif %}>
                    Operator
                </option>
                <option value="2"
                {% if not user.is_operator and user.is_admin %} selected {% endif %}>
                    Admin
                </option>
                <option value="3"
                {% if user.is_operator and user.is_admin %} selected {% endif %}>
                    Operator with Admin access
                </option>
            </select>
        </dt>
      </dl>
    </fieldset>

    <button style="width:100%; border:0px; margin-bottom:0px" type="submit" value="Submit">SUBMIT</button>
  </form>
</div>
<script src="{{ url_for('static', filename='javascript/signup_form_validation.js') }}"></script>
<script>
    current_username = '{{ user.username }}'

    function delete_user() {
        let confirmation_message = 'Are you sure you want to delete this user? All reference to readings they provided will be replaced with [DELETED]'
        if (confirm(confirmation_message)) {
            window.location.href = '/admin/user/{{user.id}}/delete';
        }
    }
</script>

{% endblock %}